div{
    width: 800px;
    height: 400px;
    background-color: #7aa874;
    margin: 100px auto;
    background-image: url("download.jpeg");
    background-size: contain;
}
h1{
    text-align: center;
    padding-top:650px;
    color:white;
    font-size:50px;
    padding-left:100px;

}
.mia{
    background-image: url("videoframe_9709.png");
}

