#face{
    width:400px;
    height:400px;
    border-radius: 50%;
    background-color: yellow;
    border: 50px;
    transition-duration: 2s;
   

}
#face:hover{
     box-shadow: 10px 10px 8px black;
     

}
#mouth{
    height:60px;
    width: 200px;
    background-color: red;
    top:290px;
    left:100px;
    position:fixed;
    border-radius: 0 0 50px 50px;
}
#mouth:hover{
    height:100px;
    width:100px
    border-radius: 50px 50px 10px 10px;
    transition:margin-top 2s cubic 2s;
}
/* #eyes{
    height:50px;
    width: 50px;
    background-color: black;
    display:inline-block;
    position:relative;
    left:100px;
    top:100px;
    border-radius: 50%;
} */
#left,#right{
    height:50px;
    width:50px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    position:absolute;


}
#left{
    top:100px;
    left:100px;
    position:absolute;

}
#right{
    
    left:160px;
    position:absolute;
}
#leftlid,#rightlid{
    height:22px;
    width:22px;
    position:absolute;
    border-radius: 60%;
    background-color: white;
    top:25px;
    left:20px;
}