.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: fontanime;
    animation-duration:2s;
    transition-delay: 0;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;     */
    animation: fontanime 2s 0s ease-out infinite alternate;

}
@keyframes fontanime{
    0% { 
        font-size: 20px;
        background-color: blanchedalmond;
        width: 10px;
     }
     50%{
        height: 400px;
        font-size: 60px;
        background-color: red;
     }
    100% { 
        font-size: 40px;
        background-color: yellow;
        width: 400px;
        border-radius: 25px;
    }
}

